PORT=5000
MONGO_URI=mongodb://kharikapeksha01_db_user:admin%40123@ac-nqyhccq-shard-00-00.nm2joai.mongodb.net:27017,ac-nqyhccq-shard-00-01.nm2joai.mongodb.net:27017,ac-nqyhccq-shard-00-02.nm2joai.mongodb.net:27017/?ssl=true&replicaSet=atlas-n10f2s-shard-0&authSource=admin&retryWrites=true&w=majority
JWT_SECRET=pathology_lab_jwt_secret_2026


EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=kharikapeksha01@gmail.com
EMAIL_PASS=sdilfjrejhcspmoc
EMAIL_FROM=kharikapeksha01@gmail.com